{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 45
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["transform-runtime", {
        "polyfill": false
    }]
]
}
