{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": ["standard", "standard-react", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "jest"],
  "rules": {
    "jsx-quotes": [2, "prefer-double"],
    "space-before-function-paren": [0],
    "prettier/prettier": "error",
    "indent": [0]
  },
  "globals": {
    "_": false
  }
}
